*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monserrat';
    font-weight: 400;
    font-size: 1rem;
}

body{
    background-color: #f8f5f1;
}

p::first-letter{
    font-size: xx-large;
    color: rgb(173, 42, 42);
}

p::first-line{
    background-color: #769fcd;
}

figure{
    display: block;
    text-align: center;
}

nav{
    display: block;
    text-align: center;
    margin: 1% auto;
    background-color: #769fcd;
}


footer {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

nav a{
    padding: 1px 1.5%;
    font-size: 1.5rem;
}


.title{
    display: block;
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    background-color: #9b5151;
    margin: 1% auto;
}

#tema {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 1% auto;
}


/* TABELAS */

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table, thead, caption, hx{
    margin: 2% auto;
}

#table{
    float: left;
}

#table > section{
    width: 50%;
    float: left;
}

.table-css, .table-html{
    width: 85%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.redreen, .green, .red, td{
    padding: 1%;
    text-align: center;
}

i[class="fas fa-user-times"] {
    background-color: red;
    text-align: center;
}

i[class="fas fa-user-check"] {
    column-width: 10%;
    background-color: green;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f7f1bc;
}

tr:nth-child(even) {
    background-color: #f9c3f1;
}


/* ~ selector */

main ~ footer {
    color: #4a4948;
    fill: #B207FF;
}

svg ~ a {
    fill: #B207FF;
}

g ~ text {
    font-size: 7px;

}

/* Legenda imagens */

img + figcaption {
    color: #4a4948;
}


/* FORMS */
form{
    width: 50%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

form hr {
    margin: 1% auto;
}



/* inputs */

label + input{
    display: block;
    float: left;
    clear: left;
}

/* Imagens e iFrames*/

img[src="images/amsterdam.jpg"]{
    border: 5px solid #B207FF;
    border-style: groove;
    border-collapse: collapse;
}


iframe[name~="Amesterdão"]{
    width: 800px;
}

iframe[name|="Amesterdão"]{
    height: 600px;
}

iframe[name^="Amesterdão"]{
    border-radius: 5px;
}

iframe[name$="erdão"]{
    border: 5px solid #94c2a3;
    display: block;
    margin: 1% 30%;
}

iframe[name*="terd"]{
    border-top-style: dotted;
    border-bottom-style: groove;
    border-left-style: double;
}

.relative{
    position: relative;
    width: 400px;
    height: 266px;
}

.absolute{
  position: absolute;
  top: 180px;
  left: 350px;
  width: 200px;
  height: 133px;
  border: 5px solid #000;
}

.absolute2{
    position: absolute;
    bottom: 180px;
    left: 350px;
    width: 200px;
    height: 126px;
    border: 5px solid #000;
  }

/*div.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 100%;
    padding: 2%;
}

div.fixed{
    background-attachment: fixed;
}*/


/* Menu */

nav a[href="index.html"]:link, nav a[href="info.html"]:link, nav a[href="local.html"]:link, nav a[href="multimedia.html"]:link, nav a[href="quizz.html"]:link, nav a[href="comentarios.html"]:link, nav a[href="html5-css.html"]:link, nav a[href="../index.html"]:link{
    color: lightblue;
}

nav a[href="index.html"]:visited, nav a[href="info.html"]:visited, nav a[href="local.html"]:visited, nav a[href="multimedia.html"]:visited, nav a[href="quizz.html"]:visited, nav a[href="comentarios.html"]:visited, nav a[href="html5-css.html"]:visited, nav a[href="../index.html"]:visited{
    color: lightpink;
}

nav a[href="index.html"]:hover, nav a[href="info.html"]:hover, nav a[href="local.html"]:hover, nav a[href="multimedia.html"]:hover, nav a[href="quizz.html"]:hover, nav a[href="comentarios.html"]:hover, nav a[href="html5-css.html"]:hover, nav a[href="../index.html"]:hover{
    color: lightgreen;
}

nav a[href="index.html"]:active, nav a[href="info.html"]:active, nav a[href="local.html"]:active, nav a[href="multimedia.html"]:active, nav a[href="quizz.html"]:link, nav a[href="comentarios.html"]:active, nav a[href="html5-css.html"]:active, nav a[href="../index.html"]:active{
    color: lightskyblue;
}

nav a[href="index.html"]::before, nav a[href="index.html"]::after{
    content: url(images/flag.png);
}

nav a[href="info.html"]::before, nav a[href="info.html"]::after{
    content: url(images/info.png);
}

nav a[href="local.html"]::before, nav a[href="local.html"]::after{
    content: url(images/room.png);
}

nav a[href="multimedia.html"]::before, nav a[href="multimedia.html"]::after{
    content: url(images/camera.png);
}

nav a[href="quizz.html"]::before, nav a[href="quizz.html"]::after{
    content: url(images/quizz.png);
}

nav a[href="comentarios.html"]::before, nav a[href="comentarios.html"]::after{
    content: url(images/email.png);
}

nav a[href="html5-css.html"]::before, nav a[href="html5-css.html"]::after{
    content: url(images/code.png);
}

nav a[href="../index.html"]::before, nav a[href="../index.html"]::after{
    content: url(images/home.png);
}


/* POEMA */

.poema{
    display: block;
    width: 15%;
    margin: 0 40%;
}

.poema p{
    padding-bottom: 1em;
}

.poema::first-line{
    text-align: center;
    background-color: mediumspringgreen;
}

.poema p:nth-last-child(n){
    text-align: center;
    background-color: limegreen;
}

.poema:nth-child(n){
    background-color: lightgrey;
}


